* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background: linear-gradient(
        to bottom,
        #e42929 50%,
        #16191e 50%
    ); */
    /* background-image: url("Cloud\ Loop\ \(2\).gif");
    background-size: cover;
    backdrop-filter: grayscale(100%); */
    background: linear-gradient(145deg, #313131, #292929);
}

.fade {
    width: 100%;
    height: 100%;
    background-image: url(Bez\ nazwy-1.png);
    position: relative;
}

#zegar {
    /* background: #16191e; */
    height: 320px;
    width: 320px;
    position: absolute;
    transform: translate(-33%, -33%);
    top: 50%;
    left: 50%;
    box-sizing: content-box;
    border-radius: 50%;
    background: linear-gradient(145deg, #313131, #292929);
    box-shadow: 8px 8px 23px #121212,
        -8px -8px 23px #4a4a4a;
    scale: 150%;
    cursor: pointer;

}

#zegar:active {
    transition: box-shadow 1s ease;
    box-shadow: inset 8px 8px 23px #000000,
        inset -8px -8px 23px #666666;
}

#clock-template {
    position: relative;
}

.hand {
    position: absolute;
    background-color: #ffffff;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;
}

.hour {
    height: 60px;
    width: 10px;
    top: 100px;
}

.minute {
    height: 80px;
    width: 5px;
    top: 80px;
}

.seconds {
    height: 90px;
    width: 3px;
    top: 70px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.naglowek {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 80px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 100px;
    word-spacing: 4px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 20px #353535, -1px -1px 20px #a3a3a3;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text
}

#strzalka_lewo {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 300px;
    transition: 0.3s;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

#strzalka_lewo:hover {
    scale: 150%;
    transform: translate(-33%, -33%);
}

#strzalka_prawo {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 50%;
    right: 300px;
    transition: 0.3s;
    cursor: pointer;
    width: 100px;
    height: 100px;
    rotate: 180deg;
    display: none;
}

#strzalka_prawo:hover {
    scale: 150%;
    transform: translate(-33%, -33%);
}

.stoper {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    display: none;
}

.stoper button {
    position: absolute;
    left: 250px;
    background: linear-gradient(145deg, #313131, #292929);
    box-shadow: 8px 8px 23px #121212,
        -8px -8px 23px #4a4a4a;
    scale: 150%;
    color: white;
    text-align: center;
    padding: 3px;
    font-size: 10px;
    cursor: pointer;
}

.stoper input {
    background: linear-gradient(145deg, #313131, #292929);
    box-shadow: 8px 8px 23px #121212,
        -8px -8px 23px #4a4a4a;
    scale: 150%;
    color: white;
    text-align: center;
}

.stoper input:focus {
    transition: box-shadow 1s ease;
    box-shadow: inset 1px 1px 12px #000000,
        inset -1px -1px 12px #666666;
    border: 0px solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

